.container{
    padding: 24px 16px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.trucksListContainer{
    display: block;
    width: 100%;
}

.trucksList{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    gap: 24px;
}

.truck{
    display: flex;
    justify-content: center;
    width: 100%;
}

.btnLoadMore{
    display: block;
    margin: 24px auto 0 auto;

    border: 1px solid var(--gray-light);
    border-radius: 200px;
    padding: 16px 32px;

    cursor: pointer;

    transition: border 250ms ease-in;
}

.btnLoadMore:hover{
    border: 1px solid var(--green-hover);
}

@media (min-width: 768px){
    .container{
        padding: 32px;
        gap: 32px;
        justify-content: center;
        align-items: center;
    }

    .trucksList{
        gap: 32px;
    }

    .btnLoadMore{
        margin-top: 40px;
    }
}

@media (min-width: 1440px){
    .container{
        padding: 48px 63px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .trucksList{
        width: 100%;
        align-items: stretch;
    }

    .truck{
        justify-content: flex-start;
    }

    .trucksListContainer{
        width: auto;
    }
}